* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

:root {
    --sidebar-color: rgb(64 13 64);
    --sidebar-highlight-color: rgb(18 100 163);
    --attachment-color: rgb(0 0 0);
    --article-theme-primary: rgb(74 21 75);
    --article-theme-secondary: rgb(255 255 255);
}

/* navbar styling */
.container-nav {
    padding: 0;
    height: 80px;
    width: 100%;
    border-bottom: none;
    z-index: 1000;
    top: 0;
    position: absolute;
    background-color: rgb(84 21 84);
}

.primary-nav {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 76.975rem;
    margin: 0 auto;
}

.primary-nav-1 {
    cursor: pointer;
}

.primary-nav-2 {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.primary-nav-2-ul, .signup-nav {
    display: flex;
    align-items: center;
}

.primary-nav-2-ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
}

.primary-nav-2-ul .ul-list {
    padding: 16px 15px;
}

.primary-nav-2-ul .product-link, .ul-link {
    text-decoration: none;
    font-size: 0.8975rem;
    font-weight: 600;
}

.primary-nav-1 {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    width: 125px;
} 

.product-link {
    cursor: pointer;
    margin-right: 1rem;
}

.product-link::after {
    background-image: url(./Images/icon_chevron_white_nav.svg);
    content: '';
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 4.84rem;
    width: 12px;
    height: 12px;
    background-size: 8px 5px;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: all .1s cubic-bezier(.165,.84,.44,1);
}

.product-link::after:hover {
    transform: rotate (180deg);
}

.signup-nav {
    text-decoration: none;
    padding: 1rem;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.sign-in-button {
    display: inline-block;
    color: rgb(29 29 29);
    border: 1px solid rgb(0 0 0 / 0%);
    margin-right: 1rem;
}

.ul-link, .product-link {
    color: white;
}

.search-btn {
    margin-right: 1.6rem!important;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.sign-in-button {
    display: inline-block;
    color: white;
    border: 1px solid rgb(0 0 0 / 0%);
    /* margin-right: 1rem; */
    font-weight: 700;
    text-decoration: none;
    font-size: .8975rem;
    margin-right: 1.995rem!important;
}

.sign-in-button:hover, .ul-link:hover {
    border-bottom: 0.8px solid white;
}

.signup1 {
    text-decoration: none;
    color: white;
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid white;
    margin-left: 0.5rem;
    font-weight: 550;
    border-radius: 5px;
    font-size: .8759rem;
    padding: 0.75rem 1rem;
}

.signup1:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px white;
}

.signup2 {
    text-decoration: none;
    background-color: white;
    border: 1px solid rgb(97 31 105);
    color: rgb(97 31 105);
    font-weight: 550;
    margin-left: 1.25rem;
    border-radius: 5px;
    font-size: .8759rem;
    padding: 0.75rem 1rem;
}

.signup2:hover {
    background-color: white;
    box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
}

/* dropdown styling */
.drop-down {
    position: absolute;
    padding-top: 0;
    background: white;
    list-style-type: none;
    top: 3.5rem;
    visibility: hidden;
    opacity: 0;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: 10px;
    flex-direction: column;
    visibility: hidden;
    border: 1px solid rgb(235 234 235);
    border-radius: 8px;
    z-index: 9;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 1);
    width: 219px;
    min-width: unset;
    transition: visibility .4s, opacity .4s ease, transform .4s cubic-bezier(.3,-.62,.21,1);
    /* transform: translateY(-20px); */
}

.hover-display-dropdown:hover .drop-down {
    visibility: visible;    
    opacity: 1;
    transform: translateY(10px); 
}

.drop-down-list-items a {
    padding: 6px 14px;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    width: auto;
    margin: 5px 0;
    color: rgb(29 29 29);
    cursor: pointer;
}

.drop-down a {
    font-size: .884rem;
    text-decoration: none;
}

.drop-down-list-items:hover {
    background-color: var(--sidebar-highlight-color)
}

.drop-down-list-items a:hover {
    color: white;
}

.empty-div {
    border-bottom: 0.4px solid rgb(233, 230, 230);
}

.nav-download__icon {
    margin-right: 5px;
    fill: white;
}

.navbar {
    border-radius: 0!important;
    margin-left: 2rem;
    appearance: none;
    background: 0 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0;
    display: none;
}

.mobile-y-search-container {
    display: none;  
} 

/* navbar on-scroll styling...only display fixed on scroll */
.container-nav-scroll {
    padding: 0;
    height: 80px;
    width: 100%;
    border-bottom: none;
    z-index: 1000;
    top: 0;
    position: fixed;
    margin-top: 1rem;
    display: none;
    /* background-color: rgb(84 21 84); */
}

.primary-nav-scroll {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    align-items: center;
    max-width: 80.975rem;
    border-radius: 40px;
    padding: 0 2%;
    margin: 0 auto;
}

.primary-nav-1-scroll {
    cursor: pointer;
}

.primary-nav-2-scroll {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.primary-nav-2-ul-scroll, .signup-nav-scroll {
    display: flex;
    align-items: center;
}

.primary-nav-2-ul-scroll {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    /* width: 57%; */
}

.primary-nav-2-ul-scroll .ul-list-scroll {
    padding: 16px 15px;
}

.primary-nav-2-ul-scroll .product-link-scroll, .ul-link-scroll {
    text-decoration: none;
    font-size: 0.8975rem;
    font-weight: 600;
    /* font-weight: bold; */
}

.primary-nav-1-scroll {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    width: 125px;
} 

.product-link-scroll {
    cursor: pointer;
    margin-right: 1rem;
}

.product-link-scroll::after {
    background-image: url(./Images/icon_chevron_black_nav.svg);
    content: '';
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 4.84rem;
    width: 12px;
    height: 12px;
    background-size: 8px 5px;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: all .1s cubic-bezier(.165,.84,.44,1);
}

.product-link-scroll::after:hover {
    transform: rotate (180deg);
}

.signup-nav-scroll {
    text-decoration: none;
    padding: 1rem;
    padding-right: 0;
    display: flex;
    align-items: center;
    /* margin-left: 1.6rem; */
}

.sign-in-button-scroll {
    display: inline-block;
    color: rgb(29 29 29);
    border: 1px solid rgb(0 0 0 / 0%);
    margin-right: 1rem;
}

.ul-link-scroll, .product-link-scroll {
    color: rgb(0 0 0);
}

.search-btn-scroll {
    margin-right: 1.6rem!important;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.sign-in-button-scroll {
    display: inline-block;
    color: rgb(0 0 0);
    border: 1px solid rgb(0 0 0 / 0%);
    /* margin-right: 1rem; */
    font-weight: 700;
    text-decoration: none;
    font-size: .8975rem;
    margin-right: 1.995rem!important;
}

.sign-in-button-scroll:hover, .ul-link-scroll:hover {
    border-bottom: 0.8px solid rgb(0 0 0);
}

.signup1-scroll {
    text-decoration: none;
    color: rgb(97 31 105);
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(97 31 105);
    margin-left: 0.5rem;
    font-weight: 550;
    border-radius: 5px;
    font-size: .8759rem;
    padding: 0.75rem 1rem;
}

.signup1-scroll:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
}

.signup2-scroll {
    text-decoration: none;
    background-color: rgb(74, 36, 79);
    border: 1px solid rgb(97 31 105);
    color: rgb(255 255 255);
    font-weight: 550;
    margin-left: 1.25rem;
    border-radius: 5px;
    font-size: .8759rem;
    padding: 0.75rem 1rem;
}

.signup2-scroll:hover {
    background-color: rgb(60, 27, 64);
    box-shadow: inset 0 0 0 1px rgb(48, 21, 52);
}
/* dropdown styling */
.drop-down-scroll {
    position: absolute;
    padding-top: 0;
    background: white;
    list-style-type: none;
    top: 3.5rem;
    visibility: hidden;
    opacity: 0;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: 10px;
    flex-direction: column;
    visibility: hidden;
    border: 1px solid rgb(235 234 235);
    border-radius: 8px;
    z-index: 9;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 1);
    width: 219px;
    min-width: unset;
    transition: visibility .4s,opacity .4s ease,transform .4s cubic-bezier(.3,-.62,.21,1);
    /* transform: translateY(-20px); */
}

.hover-display-dropdown-scroll:hover .drop-down-scroll {
    visibility: visible;    
    opacity: 1;
    transform: translateY(10px); 
}

.drop-down-list-items-scroll a {
    padding: 6px 14px;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    width: auto;
    margin: 5px 0;
    color: rgb(29 29 29);
    cursor: pointer;
}

.drop-down-scroll a {
    font-size: .884rem;
    text-decoration: none;
}

.drop-down-list-items-scroll:hover {
    background-color: var(--sidebar-highlight-color)
}

.drop-down-list-items-scroll a:hover {
    color: white;
}

.empty-div-scroll {
    border-bottom: 0.4px solid rgb(233, 230, 230);
}

.nav-download__icon-scroll {
    margin-right: 5px;
    fill: white;
}

.navbar-scroll {
    border-radius: 0!important;
    margin-left: 2rem;
    appearance: none;
    background: 0 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0;
    display: none;
}

.mobile-y-search-container-scroll {
    display: none;  
} 
/* main styling */
/* styling for first session */
.first-session {
    background-color: rgb(84 21 84);
    padding-top: 6.5rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;
    max-width: none;
    margin: 0 auto;
}

.hero-header {
    display: grid;
    grid-template-columns: 53% 45%;
    grid-column-gap: 2.48954%;
    align-items: center;
    justify-items: start;
    max-width: 76.975rem;
    padding: 0;
    margin: 0 auto;
}

.first-session-header {
    z-index: 2;
    text-align: left;
    width: 100%;
    margin-right: 0;
}

.first-session-header h1 {
    font-size: 3.8405rem;
    color: rgb(255 255 255)!important;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.0725;
    letter-spacing: -1.5px;
    max-width: 12em;
}

.first-session .span-yellow-test {
    color:rgb(236 178 46)!important;
    font-size: 3.8405rem;
}

.header-first-paragraph1 {
    max-width: 34rem;
    color: rgb(255 255 255)!important;
    margin: 0.25rem 0 3.5rem;
    font-size: 1.25rem;
}

.sign-up-google-email {
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    overflow: visible;
}

.email-link {
    padding: 19px 40px 20px;
    display: inline-block;
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    appearance: none;
    background-color: rgb(255 255 255)!important;
    color: rgb(97 31 105);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2857;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in;
}

.email-link:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px #611f69
}

.google-div {
    display: inline-block;
    padding: 19px 18px 20px 36px;
    margin-left: 0.5rem;
    margin-top: -1px;
    flex-basis: auto;
    width: auto;
    appearance: none;
    background-color: rgb(66 133 244);
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in;
}

.google-div:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px #611f69;
}

.google--link {
    color: rgb(255 255 255)!important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857rem;
    letter-spacing: .8px;
    margin-left: 22px;

}

.google-div::before {
    background-color: rgb(255 255 255);
    background-image: url(./Images/7123025_logo_google_g_icon.svg);
    content: '';
    display: inline-block;
    position: absolute;
    top: 8%;
    left: .27rem;
    width: 47px;
    height: 50px;
    border-radius: 4px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;

}

.header-second-paragraph {
    margin: 0.25rem 0 3.5rem;
    margin-top: 1rem!important;
    margin-bottom: 0rem!important;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: -.2px;
    max-width: 34rem;
    color: rgb(255 255 255)!important;
}

.header-second-paragraph strong {
    font-weight: 700;
    font-size: 1.23rem;
    line-height: inherit;
    letter-spacing: inherit;
}

.billboard-illustration {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.hero-video {
    max-width: 700px;
    max-height: 400x;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
}

.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* styling for second session */
.second-session {
    background-color: rgb(244 237 228)!important;
    padding: 3rem 0!important;
    overflow: hidden;
    padding-bottom: 0!important;
}

.companies-trust {
    font-size: .875rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 1rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: .8px;
}

.logo-container {
    max-width: 76.975rem;
    margin: 0 auto;
    align-items: center;
    text-align: center!important;
    padding: 0;
}

.logo-wrapper {
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-items: center;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

.logos {
    max-width: unset;
    margin: 10px;
    text-align: center;
}

/* third session styling */
.third-session {
    background-color: rgb(244 237 228)!important;
    padding: 3rem 0;
    overflow: hidden;
}

.grid__one {
    max-width: 76.975rem;
    margin: 0 auto;
    align-items: center!important;
    display: grid;
    grid-column-gap: 10.97560976%;
    grid-template-columns: 48.7804878% 40.24390244%;
}

.grid_one_video_desktop {
    display: block;
}

.desktop__video__1 {
    max-height: 400px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}

.bring_your_team {
    max-width: 30rem;
}

.mobile__video__1, .hide-on-tablet-and-desktop {
    display: none;
}

.bring_your_team h2 {
    font-size: 3rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    margin-bottom: 1rem;
}

.bring_your_team p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.bring_your_team a {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    color: rgb(18 100 163);
    cursor: pointer;
    word-break: break-word;
    text-decoration: none;
    transition: border-bottom-width 2s ease-in;
}

.bring_your_team a::after {
    background-image: url(./Images/download.svg);
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: 0.5em;
}

/* fourth session */
.fourth-session {
    background-color: rgb(244 237 228)!important;
    padding: 3rem 0;
    overflow: hidden;
}

.grid__two {
    max-width: 76.975rem;
    margin: 0 auto;
    align-items: center!important;
    display: grid;
    grid-column-gap: 10.97560976%;
    grid-template-columns: 40.24390244% 48.7804878%;
}

.desktop__video__2 {
    max-height: 400px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}

.grid_two_video_desktop {
    order: 2;
}

.choose__flexibility {
    max-width: 30rem;
}

.choose__flexibility h2 {
    font-size: 3rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;;
    margin-bottom: 1rem;
}

.choose__flexibility p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.choose__flexibility a {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    color: rgb(18 100 163);
    cursor: pointer;
    word-break: break-word;
    text-decoration: none;
}

.choose__flexibility a::after {
    background-image: url(./Images/download.svg);
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: 0.5em;
}

/* fifth session styling */
.fifth-session {
    background-color: rgb(244 237 228)!important;
    padding: 3rem 0;
    overflow: hidden;
}

.move__faster__with__tools {
    max-width: 30rem;
}

.move__faster__with__tools h2 {
    font-size: 3rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    margin-bottom: 1rem;
}

.move__faster__with__tools p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.move__faster__with__tools a {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    color: rgb(18 100 163);
    cursor: pointer;
    word-break: break-word;
    text-decoration: none;
}

.move__faster__with__tools a::after {
    background-image: url(./Images/download.svg);
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: 0.5em;
}

/* sixth session */
.sixth-session {
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    padding-bottom: 1.5rem!important;
    overflow: hidden;
}

.sixth-session-container {
    max-width: 76.975rem;
    margin: 0 auto;
    padding-top: 0;
}

.sixth-session-container h3 {
    text-align: center;
    font-size: 3rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.sixth-session-container .first-paragraph {
    text-align: center;
    font-size: 1.20rem;
}

.two-boxes {
    margin-top: 3rem!important;
    margin-bottom: 4rem!important;
    text-align: center;
    width: auto;
    max-width: 100%;
}

.enterprise {
    background-color: rgb(97 31 105);
    color: rgb(255 255 255);
    fill: rgb(255 255 255);
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    width: 100%;
    transition: all .2s ease-in;
}

.enterprise:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px #611f69;
    background-color: #4c1652;
}

.sales {
    background-color: rgb(255 255 255);
    color: rgb(97 31 105);
    fill: rgb(255 255 255);
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    border: 1.8px solid rgb(97 31 105);
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    width: 100%;
    margin-left: .5rem;
    transition: all .2s ease-in;
}

.sales:hover {
    fill: rgb(97 31 105);
    box-shadow: inset 0 0 0 1px #611f69;
}

.emojis-hidden-on-mobile {
    max-width: 85rem;
    height: 480px;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}

.handshake {
    position: absolute;
    top: 147px;
    right: 12%;
    max-width: 100%;
    height: auto;
    animation: scale-out-center .66s;  
}

.lock {
    position: absolute;
    top: 240px;
    left: 15%;
    animation: scale-out-center 1.26s;
    max-width: 100%;
    height: auto;
}

.woman-in-tech {
    position: absolute;
    top: 243px;
    right: 70px;
    animation: scale-out-center .86s;
    max-width: 100%;
    height: auto;
}

.office-building {
    position: absolute;
    top: 25px;
    left: 130px;
    animation: scale-out-center .46s;
    max-width: 100%;
    height: auto;
}

.skyline {
    position: absolute;
    top: 40px;
    right: 90px;
    max-width: 100%;
    height: auto;
    animation: scale-out-center 1.06s;
}

.upward-chart {
    position: absolute;
    top: 160px;
    left: 30px;
    max-width: 100%;
    height: auto;
    animation: scale-out-center 1.46s;
}

.users-ul-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    margin-bottom: 1rem;
    padding-top: 1.5rem!important;
}

.users-list {
    max-width: 180px;
}

.users-list span {
    color: rgb(97 31 105);
    font-size: 4.1rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: normal;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0.25rem;
}

.users-list .paragraph {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    line-height: 1.486;
    letter-spacing: normal;
    font-size: .92rem;
    font-weight: 700;
}

sup {
    position: relative;
    top: -0.5em;
    line-height: 0;
    font-size: 90%;
    vertical-align: baseline;
}

/* seventh session */
.seventh-session-div-videos {
    position: relative;
}

.seventh-session-wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.seventh-session-div {
    max-width: 95rem;
    padding: 0;
    background: unset;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50.7805% 49.2439%;
    grid-column-gap: 1em;
    align-items: center;
    height: 500px;
    overflow: hidden;
}

.seventh-session-content {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.seventh-session-content p {
    font-size: 1.75rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: lighter;
    line-height: 1.364;
    color: rgb(131, 131, 131);
    letter-spacing: -.3px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-style: italic;
}

.customer_author {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(41, 41, 41);
    line-height: 1.7rem;
}

.customer-stories {
    width: 100%;
    max-width: 330px;
    background: unset;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    border-bottom: none;
    break-inside: avoid;
    flex-direction: column;
    color: rgb(18 100 163);
    text-decoration: none;
}

.customer-stories::after {
    background-image: url('./Images/download.svg');
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: 0.5em;
}

.video-capsule {
    max-height: 600px;
    display: flex;
    /* padding: 2em; */
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

.youtube-video--showcase__icon {
    background-color: rgb(54 197 240);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border-radius: 4px;
}

.survey {
    padding: 0 4vw;
    margin: 0 auto;
}

.survey-paragraph {
    color: rgb(105 105 105)!important;
    font-size: .875rem;
    text-align: center;
    padding-bottom: 0.5rem!important;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: normal;
    margin-bottom: 1rem;
}

/* eighth session */
.eighth-session {
    background-color: rgb(244 237 228);
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.header-div {
    max-width: 76.975rem;
    margin: 0 auto;
}

.eighth-session-header {
    text-align: center;
}

.eighth-session-header h2 {
    font-size: 2rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    margin-bottom: 1rem;
}

.cards-container {
    max-width: 81.975rem;
    margin: 0 auto;
    padding-bottom: 1.5rem!important;
}

.cards-wrapper {
    margin-top: 2rem!important;
    margin-bottom: 1rem!important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* card one styling */
.card-one {
    max-width: 285px;
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: rgb(74 21 75);
    color: rgb(255 255 255);
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    flex-basis: 24%;
    text-decoration: none;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.card-one:hover {
    transform: scale(1.05);
}

.card-one-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: auto;
    cursor: pointer;
    word-break: break-word;
}

.card-one-figure {
    height: 13rem;
    overflow: hidden;
    width: 100%;
    margin-top: 2.3rem;
    position: relative;
}

.card-one-image {
    padding: 17px;
}

.card-one-header {
    padding: 0 0.75rem;
}

.card-one-span {
    margin: 8px 0 0;
    display: inline-block;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: rgb(255 255 255);
    line-height: 1.3;
    letter-spacing: .1px;
    font-size: .855rem;
}

.card-one-h3 {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0.5rem 0 1rem;
    font-size: 1.3657rem;
    line-height: 30px;
    max-height: 349px;
    color: #fff;
    text-decoration: none;
}

.card-one-footer {
    display: flex;
    width: 98%;
    padding: 0 5%;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.see-all span {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
}

.card-one-arrow {
    width: unset;
}

.card-one-svg {
    height: 20px;
    width: 20px;
    fill: #fff;
}
/* card two styling */
.card-two {
    max-width: 285px;
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255)!important;
    color: rgb(255 255 255);
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    flex-basis: 24%;
    text-decoration: none;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.card-two:hover {
    transform: scale(1.05);
}

.card-two-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    cursor: pointer;
    word-break: break-word;
}

.card-two-figure {
    height: 13rem;
    overflow: hidden;
    position: relative;
}

.card-two-image {
    display: block;
    padding: 12px;
}

.card-two-header {
    padding: 0 0.75rem;
}

.card-two-span {
    margin: 8px 0 0;
    display: inline-block;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: rgb(69 66 69);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .1px;
    font-size: .855rem;
}

.card-two-h3 {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0.5rem 0 1rem;
    font-size: 1.3657rem;
    line-height: 30px;
    max-height: 349px;
    color: black;
    text-decoration: none;
}

.card-two-footer {
    display: flex;
    width: 98%;
    padding: 0 5%;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.read-more span {
    font-size: .9rem;
    color: rgb(18 100 163);
    text-transform: uppercase;
    font-weight: 700;
}

.card-two-arrow {
    width: unset;
}

.card-two-svg {
    height: 20px;
    width: 20px;
    fill: #fff;
}

/* card three */
.card-three {
    max-width: 285px;
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255)!important;
    color: rgb(255 255 255);
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    flex-basis: 24%;
    text-decoration: none;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.card-three:hover {
    transform: scale(1.05);
}

.card-three-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    cursor: pointer;
    word-break: break-word;
}

.card-three-figure {
    height: 13rem;
    overflow: hidden;
    position: relative;
}

.card-three-image {
    display: block;
    padding: 12px;
}

.card-three-header {
    padding: 0 0.75rem;
}

.card-three-span {
    margin: 8px 0 0;
    display: inline-block;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: rgb(69 66 69);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .1px;
    font-size: .855rem;
}

.card-three-h3 {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0.5rem 0 1rem;
    font-size: 1.3657rem;
    line-height: 30px;
    max-height: 349px;
    color: black;
    text-decoration: none;
}

.card-three-footer {
    display: flex;
    width: 98%;
    padding: 0 5%;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.watch-now span {
    font-size: .9rem;
    color: rgb(18 100 163);
    text-transform: uppercase;
    font-weight: 700;
}

.card-three-arrow {
    width: unset;
}

.card-three-svg {
    height: 20px;
    width: 20px;
    fill: #fff;
}

/* card four */
.card-four {
    max-width: 285px;
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255)!important;
    color: rgb(255 255 255);
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    flex-basis: 24%;
    text-decoration: none;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.card-four:hover {
    transform: scale(1.05);
}

.card-four-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    cursor: pointer;
    word-break: break-word;
}

.card-four-figure {
    height: 13rem;
    overflow: hidden;
    position: relative;
}

.card-four-image {
    display: block;
    padding: 12px;
}

.card-four-header {
    padding: 0 0.75rem;
}

.card-four-span {
    margin: 8px 0 0;
    display: inline-block;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: rgb(69 66 69);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .1px;
    font-size: .855rem;
}

.card-four-h3 {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0.5rem 0 1rem;
    font-size: 1.3657rem;
    line-height: 30px;
    max-height: 349px;
    color: black;
    text-decoration: none;
}

.card-four-footer {
    display: flex;
    width: 98%;
    padding: 0 5%;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.get-e-book span {
    font-size: .9rem;
    color: rgb(18 100 163);
    text-transform: uppercase;
    font-weight: 700;
}

.card-four-arrow {
    width: unset;
}

.card-four-svg {
    height: 20px;
    width: 20px;
    fill: #fff;
}
/* section nine custom styling */
.session-nine {
    background-color: rgb(74 21 75);
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
    padding-top: 6rem!important;
    padding-bottom: 5rem!important;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: visible;
}

.session-nine h3 {
    font-size: 3.125rem;
    margin-bottom: 3rem!important;
    color: rgb(255 255 255)!important;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.9875;
    letter-spacing: -.8px;
    margin-top: 0;
}

.free-trial {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    color: rgb(97 31 105);
    fill: rgb(97 31 105);
    font-size: .875rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    padding: 19px 40px 20px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1)
}

.free-trial:hover {
    box-shadow: inset 0 0 0 1.6px #611f69;
}

.sales-link {
    background-color: rgb(74 21 75);
    color: #fff;
    fill: #fff;
    margin-left: 0.5rem;
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .875rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    appearance: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    padding: 19px 40px 20px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1)
}

.sales-link:hover {
    box-shadow: 0 0 0 1.8px #fff;
}

/* footer custom styling */
.footer-container {
    padding-top: 3.5rem;
}

.footer-wrapper {
    max-width: 76.975rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 2rem;
}

.footer-info-links {
    display: flex;
    width: 92%;
    justify-content: space-around;
}

.footer-info-links ul {
    list-style-type: none;
}

.footer-logo {
    width: 8%;
}

.ul-header {
    font-size: .875rem;
    height: 26px;
    color: rgb(60, 59, 59);
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    /* line-height: 1.1444; */
    letter-spacing: normal;
}

.ul-links {
    text-decoration: none;
    color: rgb(69 66 69);
    font-size: .875rem;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
    line-height: 2.4444;
}

.ul-links:hover {
    color: rgb(18 100 163);
    cursor: pointer;
}

.ul-links:focus {
    border: 1px dashed black;
}

.lower-footer {
    max-width: 76.975rem;
    border-top: 2.6px solid rgba(242, 236, 236, 0.739);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.lower-footer1 {
    display: flex;
    list-style-type: none;
}

.lower-footer1-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: .9rem;
    display: inline-block;
}

.change-region {
    margin-right: 0;
}

.lower-footer1-link {
    text-decoration: none;
    font-size: .835rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: normal;
    color: rgb(0 0 0);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: -1px;
}

.lower-footer1-link:hover {
    color: rgb(18 100 163);
    cursor: pointer;
}

.arrow-link span::after {
    position: absolute;
    content: '';
    display: block;
    top: 47%;
    right: 0;
    background-image: url(./Images/download\ \(2\).svg);
    width: 8px;
    height: 5px;
    background-size: 8px 5px;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: transform .1s cubic-bezier(.165,.84,.44,1);
}

.lower-footer1-link span {
    font-size: .835rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: normal;
    color: rgb(0 0 0);
    padding-right: 0.85rem;
}

.arrow-link:hover {
    color: rgb(18 100 163);
}

.switcher__globe {
    margin-right: 0.25rem;
}

.ul-lists {
    line-height: 2.4444;
}

.lower-footer3 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: auto;
}

.download-link {
    width: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: .875rem;
    color: rgb(18 100 163);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.download-icon {
    margin-right: 5px;
}

.lower-footer3 li {
    margin-left: 1rem;
}

.right-reserved-wrapper {
    margin-bottom: 2rem;
    margin-top: 0;
}

.right-reserved-div {
    max-width: 76.975rem;
    margin: 0 auto;
}

.right-reserved-wrapper span {
    font-size: .75rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: normal;
    color: rgb(69 66 69);
}

/* media queries for responsiveness */
@media screen and (min-width: 0) and (max-width: 1366px) {
    .grid__one, .grid__two {
        max-width: 76.975rem;
        margin: 0 auto;
    }
}
/* tablet view media query */
@media screen and (min-width:768px) and (max-width:1084px) {
    .primary-nav-2-ul, .search, .signup-nav {
        display: none;
    }
    
    .mobile__video__1 {
        display: none;
    }
    .mobile-y-search-container {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
        
    .m0bile-navbar {
        margin-left: 2rem;
        cursor: pointer;
    }
        
    .primary-nav {
        padding: 0 4vw;
    }
    
    /* tablet nav on-scroll styling */
    .primary-nav-2-ul-scroll, .search.scroll, .signup-nav-scroll {
        display: none;
    }
    
    .container-nav-scroll {
        background-color: #fff;
        margin-top: 0;
    }
        
    .mobile-y-search-container-scroll {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
        
    .m0bile-navbar-scroll {
        margin-left: 2rem;
        cursor: pointer;
    }
        
    .primary-nav-scroll {
        padding: 0 8vw;
    }
    /* on-scroll styling ends */
    
    .hero-header {
        padding: 0 4vw;
    }
    
    .email-link {
        display: block;
    }
    
    .google-div {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 2.2%;
    }
        
    .google--link {
        text-align: center;
        width: 100%;
    }
    
    .logo-container {
        padding: o 8vw;
        margin: 0 auto;
    }
}

    /* media queries for responsiveness */
    /* mobile range media query */
    @media screen and (max-width:767px) {
    .primary-nav-2-ul, .search, .signup-nav {
        display: none;
    }
    
    .mobile-y-search-container {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    
    .m0bile-navbar {
        margin-left: 2rem;
        cursor: pointer;
    }
    
    .primary-nav {
        padding: 0 4vw;
    }
    
    /* on-scroll navbar styling */
    .primary-nav-2-ul-scroll, .search-scroll, .signup-nav-scroll {
        display: none;
    }
    
    .container-nav-scroll {
        background-color: #fff;
        margin-top: 0;
    }
    
    .mobile-y-search-container-scroll {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    
    .m0bile-navbar-scroll {
        margin-left: 2rem;
        cursor: pointer;
    }
    
    .primary-nav-scroll {
        padding: 0 4vw;
    }
    /* navbar scroll mobile ends */

    .hero-header {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4vw;
        margin: 0 auto;
    }
    
    .hero-header {
        grid-template-columns: 53% 45%;
        grid-column-gap: 2%;
        justify-items: start;
    }
    
    .first-session-header h1, .first-session .span-yellow-test {
        font-size: calc(2.65rem + (20 * (100vw - 400px)/ 624));
    }
    .google-div {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }
    
    .google--link {
        text-align: center;
        width: 100%;
    }
    
    .email-link {
        display: block;
    }
    
    .first-session-header h1 {
        font-size: calc(2.75rem + (20 * (100vw - 400px)/ 624));
        text-align: center;
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    
    .header-first-paragraph1 {
        font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
        text-align: center;
        max-width: 60rem;
        margin: 0.5rem 0 3.5rem;
    }
    
    .header-second-paragraph {
        display: none;
    }
    
    .billboard-illustration {
        margin-top: 2rem;
        margin-bottom: -7em;
    }
    
    .second-session p {
        padding-left: 8vw;
        padding-right: 8vw;
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
    }
    
    .logo-container {
        padding: 0 4vw;
        margin: 0 auto;
    }
    
    .logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
        

    .third-session {
        overflow: hidden;
        padding: 3rem 0;
    }
    .mobile__video__1, .hide-on-tablet-and-desktop {
        display: block;
    }

    .grid_two_video_desktop, .grid_one_video_desktop {
        display: none;
    }

    .grid__one {
        max-width: 80rem;
        align-items: center!important;
        margin: 0 auto;
        display: grid;
        padding: 0 4vw;
        padding-left: 0;
        grid-template-columns: 100%;
    }

    .bring_your_team {
        margin: 2rem auto 0;
        margin-left: 1rem;
    }

    .bring_your_team h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1875;
        letter-spacing: -.3px;
    }
    
    .bring_your_team p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    }

    .choose__flexibility {
        margin: 2rem auto 0;
        margin-right: 1rem;
        max-width: 30rem;
    } 

    .choose__flexibility h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1875;
        letter-spacing: -.3px;
    }
    
    .choose__flexibility p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    }

    .move__faster__with__tools {
        margin: 2rem auto 0;
        margin-left: 1rem;
    }

    .move__faster__with__tools h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1875;
        letter-spacing: -.3px;
    }
    
    .move__faster__with__tools p {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: -.2px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    }
    .fourth-session {
        overflow: hidden;
        padding: 3rem 0;
    }

    .grid__two {
        max-width: 80rem;
        align-items: center!important;
        margin: 0 auto;
        justify-items: right;
        display: grid;
        padding: 0 4vw;
        padding-right: 0;
        grid-template-columns: 100%;
    }

    .mobile__video__1 {
        max-height: 400px;
    }

    .emojis-hidden-on-mobile {
        display: none;
    }

    .sixth-session-container {
        padding: 0 4vw;
    }

    .sixth-session-container h3 {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    margin-bottom: 1rem;
    font-size: 2rem;
    }

    .sixth-session-container .first-paragraph {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    }

    .two-boxes a {
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
        display: inline-block;
        margin: .4rem;
    }

    .users-ul-list {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        padding-bottom: 2rem;
        justify-content: space-around;
        padding-top: 1.5rem;
        font-size: calc(1.125rem + (0 * (100vw - 400px)/ 624));
    }

    .users-list {
        max-width: 180px;
        text-align: center;
        font-size: calc(1.125rem + (0 * (100vw - 400px)/ 624));
        margin-left: 1.3rem;
    }

    .users-list p span {
        font-size: calc(3rem + (16 * (100vw - 400px)/ 624));
    }

    .users-list .paragraph {
        font-size: 1rem;
    }

    .seventh-session-div {
        padding-bottom: 1rem!important;
        background: unset;
        max-width: 1530px;
        height: 637px;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        align-items: center;
    }

    .seventh-session-div-videos {
        display: grid;
        grid-gap: 1rem 2.43902439%;
        justify-content: center;
    }

    .video-capsule {
        max-height: 600px;
        padding-top: unset;
        width: 97%;
    }

    .seventh-session-content {
        padding: 2em;
    }
    
    .seventh-session-content p {
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 300;
        line-height: 1.364;
        letter-spacing: -.3px;
        margin-top: 0;
        font-size: 1.375rem;
        margin-bottom: 1rem;
        font-style: italic;
    }
    
    .eighth-session-header {
        padding: 0 4vw;
    }
    .eighth-session-header h2 {
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 700;
        line-height: 1.1875;
        letter-spacing: -.3px;
        font-size: 1.5rem;
        margin-bottom: 1rem
    }

    .cards-wrapper {
        gap: 1rem;
    }

    .session-nine {
        clip-path: ellipse(105% 100% at center top);
        padding-bottom: 6rem!important;
    }

    .session-nine-content {
        padding: 0 4vw;
    }

    .free-trial {
        display: inline-block;
        width: 100%;
    }

    .sales-link {
        display: inline-block;
        width: 100%;
        margin: 1rem auto 0;
    }

    /* section nine */
    .session-nine h3 {
        line-height: 1.1875;
        letter-spacing: -.8px;
        margin-bottom: 2rem!important;
        color: rgb(255 255 255)!important;
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 700;
        font-size: calc(2rem + (18 * (100vw - 400px)/ 624));
    }
    
    .arrow-link span::after {
        display: none;
    }
}


@media screen and (max-width:479px) {
    .header-first-paragraph1 {
        font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
        text-align: center;
        max-width: 60rem;
        margin: 0.5rem 0 3.5rem;
    }

    .users-list {
        margin: 0;
    }

    .two-boxes a {
        margin: 0;
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
        word-break: normal;
    }

    .two-boxes .enterprise {
        margin-bottom: .5rem;
    }

    .footer-wrapper, .lower-footer, .lower-footer1 {
        flex-direction: column;
    }

    .download-link {
        margin: 0;
        padding-top: .6rem;
    }
    
    .bring_your_team a::after,.choose__flexibility a::after, .move__faster__with__tools a::after {
        display: none;
    }

    .choose__flexibility p {
        font-size: calc(1.125rem + (0 * (100vw - 400px)/ 624));
        margin-bottom: 1rem!important;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 400;
        line-height: 1.4444;
        letter-spacing: normal;
    }

    .hide-on-tablet-and-desktop {
        justify-self: end!important;
    }

    .mobile__video__1 {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
    }

    .lower-footer {
        justify-content: flex-start;
    }

    .footer-container {
        padding: 0 4vw;
    }

    .download-link, .lower-footer1 {
        width: -webkit-fill-available;
    }

    .lower-footer1-link {
        justify-content: flex-start;
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
    }

    .lower-footer1-list {
        padding: 1rem 0;
    }

    .lower-footer3 {
        width: -webkit-fill-available;
    }

    .lower-footer3 li:nth-child(1) {
        margin: 0;
    }

    .lower-footer3 li {
        padding: 1rem 0;
    }

    .lower-footer1-link span {
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
    }

    .change-region {
        padding-bottom: 1.2rem;
    }

    .footer-info-links {
        flex-direction: column;
    }

    .ul-lists {
        display: none;
    }
    
    .ul-header {
        height: 40px;
        position: relative;
        align-items: center;
        display: flex;
    }

    .ul-header::after {
        content: '';
        display: block;
        position: absolute;
        top: 28%;
        right: 0.25rem;
        background-image: url('./SVGs/icon_chevron_big_black.svg');
        width: 1em;
        height: 1em;
        background-size: 1em 1em;
        background-repeat: no-repeat;
        background-position-y: center;
        transition: .1s cubic-bezier(.165,.84,.44,1);
    }

    .footer-info-links {
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 100%;
    }

    .ul-header1:hover .ul-list-hover1 {
        display: block;
    }

    .footer-wrapper {
        padding-bottom: 0;
        padding-top: 3.5rem;
    }
}

